#myScrollspy{
    position: relative;
}
.carousel{
	background: #19647E;
}

.carousel-inner{
	height: 500px;
}

.carousel-item{
	height: 100%;
	text-align: center;
}

.photoCarousel{
    height: 100%;
}

.title_conocestelde{
    border: 1px  solid black;
    text-align: center;
    height: 100%;
}
.sticky-top-2{
    position: sticky;
    top: 56px;
    margin-top: 56px;
}
.bg-first{
    background-color: rgba(255, 166, 0, 0.445);
    color: #000000;
    height: 300px;
}
.title_scrollspy{
    text-align: center;
}

.footer{
    margin-top: 56px;
    text-align:center;
    color:rgba(10, 10, 10, 0.562); 
}
.footer-letter{
    color: rgb(0, 0, 0);
}

#login{
    display: block;
}
#logup{
    display: block;
}
#logout{
    display: none;
}
